@import '_componentStyle';
@import '_lineChartStyle';

@mixin flex($fd, $jc, $ai) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
}

@mixin blur {
    background: rgba(15, 22, 37, 0.75);
    backdrop-filter: blur(15px);
}

// z-indexes
// table image - 2
// table tooltip - 3
// tooltip - 4
// custom select - 6
// header dropdowns - 7
// modal-backdrop - 8

$header-bg: #152038;
$body-bg: #0f1625;
$bg-primary: #222a3d; // custom select border, date input border
$bg-primary-light: rgba(34, 42, 61, 0.5); // input bg, custom select bg
$bg-primary-light-25: rgba(34, 42, 61, 0.25); // form bg
$border-bg: #263347;
$hover-bg: #2c3241; // hover bg, tool-tip border, dropdown border
$blue: #066edd;
$light-blue: rgba(6, 110, 221, 0.2);
$green: #34d399;
$light-green: rgba(52, 211, 153, 0.35);
$red: #ff6c6c;
$light-red: rgba(255, 108, 108, 0.35);
$orange: #fb923c;
$gray: #d4d4d4;
$site-primary-color: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(6, 110, 221, 1) 0%, rgba(0, 212, 255, 1) 100%);
$transparent-bg: rgba(0, 0, 0, 0.2);


.header {
    height: 4rem;
    width: 100%;
    background: $header-bg;

    .container {
        @include flex(row, flex-start, center);
        min-height: 0;

        .home-page-btn {
            background: $site-primary-color;
            background-clip: text;
            color: transparent;
            font-size: 1.25rem;
            font-weight: 800;
        }

        .header-menu-btn-label,
        #header-menu-cb {
            display: none;

            .fa-bars {
                font-size: 1.25rem;
            }
        }

        .header-group {
            @include flex(row, flex-start, center);
            flex: 1;
            gap: 1rem;

            .fa-xmark {
                display: none;
            }

            .to-investments-page-btn,
            .to-data-control-center-page-btn {
                @include flex(row, center, center);
                gap: 0.5rem;
                padding: 0.5rem;

                &:hover {

                    span,
                    i {
                        color: $blue;
                    }
                }
            }

            .dropdown {
                display: none;
                @include blur;
                position: absolute;
                left: 50%;
                top: 100%;
                transform: translateX(-50%);
                padding: 0.5rem 0;
                border: 1px solid $border-bg;
                border-radius: 0.25rem;
                z-index: 7;

                .dropdown-item {
                    @include flex(row, flex-start, center);
                    gap: 0.5rem;
                    padding: 0.5rem;
                    font-size: 0.95rem;
                    white-space: nowrap;
                    text-transform: capitalize;

                    &:hover {
                        background: $hover-bg;
                    }
                }
            }

            .divider {
                display: none;
            }

            .tools-btn-container {
                position: relative;

                &:hover {
                    .dropdown {
                        @include flex(column, flex-start, stretch);
                    }

                    button {

                        i,
                        span {
                            color: $blue;
                        }
                    }
                }

                button {
                    @include flex(row, center, center);
                    gap: 0.5rem;
                    padding: 0.5rem;
                }
            }

            .user-menu {
                position: relative;
                margin-left: auto;

                label {
                    padding: 0.5rem;
                    font-size: 1.1rem;
                    color: $blue;
                    font-weight: 600;
                    cursor: pointer;
                }

                input[type="checkbox"] {
                    display: none;

                    &:checked+.dropdown {
                        @include flex(column, flex-start, stretch);

                    }
                }

                .dropdown {
                    top: calc(100% + 0.5rem);
                    left: 100%;
                    transform: translateX(-100%);

                    button {

                        span,
                        i {
                            color: $red;
                        }
                    }
                }
            }

            .to-login-page-btn {
                color: $blue;
                margin-left: auto;
                font-weight: 600;
            }
        }
    }
}

.login-page,
.signup-page {
    .form-wrapper {
        margin: 4rem auto 0 auto;
        width: 100%;
        max-width: 500px;
    }

    .to-signup-link {
        margin: 0.5rem auto 0 auto;
    }
}

.investments-page {
    .stats-and-controls {
        @include flex(row, space-between, center);
        gap: 1rem;
        flex-wrap: wrap;

        .investment-stats {
            @include flex(row, flex-start, stretch);
            gap: 1rem;
            user-select: none;

            >div {
                @include flex(row, center, center);
                position: relative;
                gap: 0.5rem;

                &:hover .tool-tip {
                    display: block;
                }
            }

            .divider {
                width: 2px;
                background: $bg-primary;
            }
        }

        .header-buttons {
            @include flex(row, flex-start, center);
            gap: 0.5rem;

            .btn {
                font-size: 0.9rem;
                padding: 0.5rem 0.75rem;
            }
        }

        .filters {
            @include flex(row, flex-start, center);
            width: 100%;
            gap: 1rem 0.5rem;
            flex-wrap: wrap;
        }
    }

    section {
        overflow-x: auto;

        .table {

            .quantity,
            .buyPrice,
            .marketPrice,
            .worth,
            .x {
                flex: none;
                width: 7rem;
            }

            .worth,
            .x {
                span {
                    width: 100%;
                    font-weight: 800;
                }
            }

            .totalCost,
            .totalMarketValue {
                min-width: 7rem;
            }
        }
    }

    .add-investment-modal {
        @include flex(column, flex-start, stretch);
        @include blur;
        position: absolute;
        width: calc(100% - 1rem);
        height: 100%;
        padding: 1rem;
        gap: 1rem;
        border: 1px solid $border-bg;
        overflow-y: auto;

        .modal-header {
            @include flex(row, space-between, center);
        }

        .add-investment-methods {
            @include flex(row, flex-start, center);
            gap: 0.5rem;
            flex-wrap: wrap;

            .btn-secondary {
                padding: 1rem;
            }

            .import-csv-file-label {
                @include flex(row, center, center);
                gap: 1rem;
                padding: 1rem;
                border: 1px dashed $bg-primary;
                border-radius: 0.25rem;
                cursor: pointer;

                input {
                    display: none;
                }
            }
        }

        .divider {
            height: 1px;
            background: $border-bg;
        }

        .form-wrapper {
            width: 100%;
            max-width: 450px;
            margin: 0 auto;
        }
    }

    .investment-item-details-modal {
        @include flex(column, flex-start, stretch);
        @include blur;
        position: absolute;
        top: 0;
        right: 0;
        width: calc(100% - 1rem);
        max-width: 450px;
        height: 100%;
        gap: 0.5rem;
        padding: 1rem;
        border: 1px solid $border-bg;
        overflow-y: auto;

        .investment-item-details {
            @include flex(column, flex-start, stretch);
            gap: 0.25rem;

            img {
                width: 60%;
                aspect-ratio: 1.3333/1;
                padding: 0.5rem;
                margin: 0 auto 1rem auto;
                background: $bg-primary-light;
                border-radius: 0.75rem;
            }

            h4 {
                text-align: center;
            }

            div {
                @include flex(row, space-between, center);

                span:nth-of-type(1) {
                    text-transform: capitalize;
                    color: $gray;
                }
            }
        }

        .divider {
            height: 1px;
            margin-top: 0.25rem;
            background: $bg-primary;
        }

        .form {
            padding: 0;
            gap: 0.75rem;
            background: none;

            .form-body {
                gap: 0.75rem;

                .fields-group {
                    gap: 0.75rem;

                    .fields-group-item {
                        gap: 0.25rem
                    }
                }
            }

            .form-bottom {
                @include flex(row, flex-start, center);
                gap: 0.5rem;

                label {
                    input[type="radio"] {
                        display: none;
                    }

                    span {
                        @include flex(row, center, center);
                        padding: 0.75rem;
                        border: 1px solid transparent;
                        border-radius: 0.25rem;
                        cursor: pointer;
                    }

                    &:nth-of-type(1) {
                        input[type="radio"]:checked+span {
                            border-color: $green;
                        }

                        span {
                            color: $green;
                            background: $light-green;
                        }
                    }

                    &:nth-of-type(2) {
                        input[type="radio"]:checked+span {
                            border-color: $red;
                        }

                        span {
                            color: $red;
                            background: $light-red;
                        }
                    }
                }

                button[type="submit"] {
                    margin-left: auto;
                }
            }
        }

        .buttons {
            @include flex(row, flex-start, center);
            flex-wrap: wrap;
            gap: 0.5rem;
            margin-top: auto;

            .btn-secondary:nth-of-type(1) {

                i,
                span {
                    color: $red;
                }
            }

            .btn-secondary:nth-of-type(2) {

                i,
                span {
                    color: $gray;
                }
            }
        }
    }
}

.data-control-center-page {
    section {
        @include flex(row, space-between, flex-start);
        position: relative;
        gap: 1rem;

        .options-section {
            @include flex(column, flex-start, flex-start);
            flex: 6;
            gap: 1rem;

            .options-section-item {
                @include flex(row, flex-start, center);
                flex-wrap: wrap;
                gap: 1rem;
                padding: 1rem;
                background: $bg-primary-light-25;
                border-radius: 0.5rem;
            }
        }

        .output-section {
            @include flex(column, flex-start, stretch);
            flex: 4;
            max-width: 50%;
            max-height: calc(100vh - 9rem);
            gap: 0.25rem;
            background: $bg-primary;
            border-radius: 0.5rem;
            overflow: hidden;

            h4 {
                @include flex(row, flex-start, center);
                gap: 0.5rem;
                background: $header-bg;
                padding: 0.5rem 1rem;
            }

            .output {
                @include flex(column, flex-start, stretch);
                gap: 0.25rem;
                overflow-x: auto;

                .output-item {
                    padding: 0.5rem 1rem;
                }
            }
        }

        .sticker-application-numbers-modal {
            @include blur;
            @include flex(column, flex-start, stretch);
            position: absolute;
            width: 100%;
            height: 100%;
            padding: 1rem;
            gap: 1rem;
            border: 1px solid $border-bg;
            overflow-y: auto;

            .modal-header {
                @include flex(row, flex-start, center);
                gap: 0.5rem;
            }

            .form {
                .fields-group-item {
                    flex: none;
                    width: calc(25% - 0.75rem);
                }

                button[type="submit"] {
                    width: max-content;
                    margin-left: auto;
                }
            }
        }
    }
}

.event-items-price-changes-page.container {
    header {
        @include flex(row, space-between, center);
        gap: 1rem 0.5rem;
        flex-wrap: wrap;

        .filters {
            @include flex(row, flex-start, center);
            gap: 1rem 0.5rem;
            flex-wrap: wrap;

            .date-filters {
                @include flex(row, center, center);
                gap: 0.25rem;
            }
        }
    }

    section {
        @include flex(column, flex-start, stretch);
        gap: 1rem;
        overflow-x: auto;

        .table {
            .name {
                flex: 2;
            }

            .priceBeforeSale {
                min-width: 6rem;
            }

            .minPriceDuringSale,
            .minPrice {
                min-width: 7rem;
            }

            .highestPrice,
            .currentPrice {
                min-width: 11rem;
            }
        }
    }
}

.major-analysis-page.container {
    header {
        @include flex(row, space-between, center);
        gap: 1rem 0.5rem;
        flex-wrap: wrap;

        .filters {
            @include flex(row, flex-start, center);
            gap: 1rem 0.5rem;
            flex-wrap: wrap;

            .date-filters {
                @include flex(row, center, center);
                gap: 0.1rem;
            }
        }
    }

    section {
        @include flex(row, flex-start, flex-start);
        flex-wrap: wrap;
        gap: 1rem;

        .line-charts {
            @include flex(column, flex-start, stretch);
            width: calc(60% - 0.5rem);
            gap: 1rem;

            .line-chart:nth-of-type(1) {
                z-index: 4;
            }
        }

        .column-chart-wrapper {
            @include flex(column, flex-start, stretch);
            gap: 0.25rem;
            width: calc(40% - 0.5rem);

            .column-chart {
                .color-info-box {
                    div:nth-of-type(1) {
                        .color {
                            background: $blue;
                        }

                        .y-key-name {
                            color: $blue;
                        }
                    }

                    div:nth-of-type(2) {
                        .color {
                            background: #9333ea;
                        }

                        .y-key-name {
                            color: #9333ea;
                        }
                    }
                }

                .column:nth-of-type(1) {
                    background: $blue;
                }

                .column:nth-of-type(2) {
                    background: #9333ea;
                }
            }

            .capsule-images {
                @include flex(row, flex-start, center);
                width: 100%;
                gap: 0.75rem;
                padding: 1rem;
                border-radius: 0.5rem;
                background: $bg-primary;

                div {
                    @include flex(row, center, center);
                    flex: 1;

                    img {
                        width: 100%;
                        aspect-ratio: 1.33/1;
                    }

                }
            }
        }

        .table-wrapper {
            width: 100%;
            overflow-x: auto;

            .table {
                width: 100%;

                .row {
                    gap: 1rem;
                }

                .cell:nth-last-of-type(3),
                .cell:nth-last-of-type(4),
                .cell:nth-last-of-type(5) {
                    min-width: 10rem;
                }

                .cell:nth-last-of-type(1),
                .cell:nth-last-of-type(2) {
                    flex: 3;
                    min-width: 22rem;

                    .cell-inner {
                        flex-wrap: nowrap;
                        gap: 1rem;

                        span {
                            flex: 1;
                        }
                    }
                }

                .cell:nth-last-of-type(2) {
                    min-width: 15rem;
                }
            }
        }
    }
}

.sticker-application-numbers-page.container {
    header {
        @include flex(row, space-between, center);
        gap: 1rem 0.5rem;
        flex-wrap: wrap;

        .filters {
            @include flex(row, flex-start, center);
            gap: 1rem 0.5rem;
            flex-wrap: wrap;
        }
    }

    section {
        @include flex(column, flex-start, stretch);
        gap: 1rem;

        .capsule-statistics {
            @include flex(row, flex-start, center);
            flex-wrap: wrap;
            gap: 1rem;

            .capsule-statistics-item {
                @include flex(row, center, center);
                gap: 2rem;
                padding: 0.75rem;
                background: $bg-primary;
                border-radius: 0.25rem;

                img {
                    width: 6rem;
                }

                .capsule-statistics-item-details {
                    @include flex(column, flex-start, stretch);
                    gap: 0.5rem;

                    div {
                        @include flex(row, space-between, center);
                        gap: 1rem;
                    }
                }
            }
        }

        .table {
            overflow-x: auto;

            .row {
                gap: 1.5rem;

                .cell {
                    .cell-inner {
                        span {
                            flex: 1;
                        }

                        span:nth-of-type(1) {
                            flex: 2;
                        }
                    }
                }

                .id {
                    position: sticky;
                    left: 0rem;
                    z-index: 2;
                    background: $bg-primary;
                }

                .image {
                    position: sticky;
                    left: 1.5rem;
                    z-index: 2;
                    background: $bg-primary;

                }

                .applicationNumber {
                    flex: none;
                    width: 30rem;
                }
            }

            .table-header,
            .addition-result-row {

                .id,
                .image {
                    background: $header-bg;
                }

                .cell:nth-of-type(4) {
                    .cell-inner {

                        span:nth-of-type(2),
                        span:nth-of-type(4),
                        span:nth-of-type(6) {
                            display: none;
                        }
                    }
                }
            }

            .addition-result-row {
                .cell:nth-of-type(n+5) {
                    .cell-inner {

                        span:nth-of-type(2),
                        span:nth-of-type(4),
                        span:nth-of-type(6) {
                            visibility: hidden;
                        }
                    }
                }
            }
        }
    }
}

.events-page {
    section {
        @include flex(column, flex-start, stretch);

        .table {
            .eventName {
                min-width: 12rem;
            }

            .releaseDate,
            .tournamentStartDate,
            .tournamentEndDate,
            .saleStartDate,
            .endDate {
                min-width: 7rem;
            }


            .\-,
            .\+ {
                flex: none;
                width: 1.75rem;

                span {
                    @include flex(row, center, center);
                    width: 100%;
                    height: 100%;
                }
            }

            .table-header .cell:nth-of-type(10) span,
            .table-body .row .cell:nth-of-type(10) span,
            .\+ span {
                color: $green;
            }
        }
    }
}

.profile-page {
    section {
        @include flex(column, flex-start, flex-start);
        gap: 1rem;
        flex: 1;

        .section-item {
            @include flex(column, flex-start, stretch);
            width: 100%;
            max-width: 500px;
            gap: 1rem;
            padding: 1rem;
            border-radius: 0.5rem;
            background: $bg-primary-light;

            .section-item-header {
                @include flex(row, flex-start, center);
                gap: 0.5rem;

                .icon-wrapper {
                    i {
                        padding: 0.5rem;
                    }
                }
            }

            .section-item-body {
                @include flex(column, flex-start, stretch);
                gap: 1rem;

                div {
                    @include flex(row, space-between, center);

                    span:nth-last-of-type(1) {
                        font-weight: 600;
                    }

                    span:nth-last-of-type(2) {
                        color: $gray;
                    }
                }
            }
        }

        .show-update-user-informations-modal-btn {
            position: relative;
            margin-left: auto;
            right: -0.5rem;

            i {
                padding: 0.5rem;

                &:hover {
                    color: $blue;
                }
            }
        }

        .buttons {
            @include flex(row, flex-start, flex-start);
            gap: 1rem;
            margin-top: auto;
            flex-wrap: wrap;

            .delete-account-btn {
                border-color: $red;
                background: rgba(255, 108, 108, 0.35);

                &:hover {
                    background: $red;
                }
            }
        }
    }

    .change-password-modal,
    .update-user-informations-modal,
    .delete-account-modal {
        @include flex(row, center, center);
        flex: 1;

        form {
            @include blur;
            width: calc(100% - 1rem);
            max-width: 600px;
            transform: translateY(-4rem);
            border: 1px solid $border-bg;
        }
    }

    .delete-account-modal {
        max-width: 450px;

        .form {
            .form-header {
                gap: 0.5rem;

                .icon-wrapper {
                    i {
                        padding: 0.5rem;
                    }
                }
            }

            .btn {
                background: $red;

                &:hover {
                    box-shadow: 0 0 8px 3px $light-red;
                }
            }
        }
    }
}

@import '_responsive';